header{
    .en-tete{
        background-color: rgb(166, 191, 201);
        H4{
            text-align: center;
        }
        hr{
           width: 85%;
           color: black;
        }
        .liste1{
            display: flex;
            justify-content: center;

            ul{
                display: flex;
                list-style: none;
                justify-content: space-between;
                li{
                    display: flex;
                    justify-content: space-between;
                    
                    a{
                        display: flex;
                        justify-content: space-between;
                        color: black;
                        text-decoration: none;
                        text-transform: uppercase;
                        span{
                            display: flex;
                            justify-content: space-between;
                        }
                        
                    }
                }
                
                
            }
        }.image-header{
            .image1{
                background-image: url("../../../public/img/banner-bg.jpg");
                background-size: cover;
                height: 600px;
                .texte-header{
                    padding: 150px;
                    text-align: center;
                    p{
                        
                        color: white;
                    }
                    h1{
                        
                        color: white;
                    }
                    button{
                        display: flex;
                        align-items: center;
                        background-color: red;
                        color: white;
                        
                    }
                }
                
            }
        }
    }

}